<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Friends</title>
  </head>
  <body>
    <h1>Friends Characters!</h1>
    <div id="app">
      <ul>
        <li v-for="character in friendsCharactersList">
          {{ character.name }}
          <button v-on:click="favorite(character)">Favorite</button>
        </li>
      </ul>
      <input type="text" v-model="newCharacter.name" @keyup.enter="addNewCharacter"/>
      <button @click="addNewCharacter">Add Character</button>
    </hr>
    <h2>Favorite Characters</h2>
    <p v-if="favoriteCharactersList.length === 0">There are no favorite characters yet</p>
    <ul v-else>
      <li v-for="character in favoriteCharactersList">
        {{ character.name }}
      </li>
    </ul>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      const { createApp } = Vue;

      const app = createApp({
        data: () => ({
          friendsCharactersList: [
            {
              name: "Ross Geller",
            },
            {
              name: "Monica Geller",
            },
            {
              name: "Chandler Bing",
            },
            {
              name: "Joey Tribbiani",
            },
            {
              name: "Rachel Green",
            },
            {
              name: "Phoebe Buffay",
            },
            // {
            //   name: "Janice"
            // }
          ],
          favoriteCharactersList: [],
          newCharacter: {
            name: ""
          },
        }),
        methods: {
          favorite(character) {
            this.favoriteCharactersList.push(character);
          },
          addNewCharacter(){
            this.friendsCharactersList.push(this.newCharacter);
            this.newCharacter = { name: "" };
          }
        }
      }).mount("#app")
    </script>
  </body>
</html>
