<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Playground — Complete Intro to Vue 3</title>
  </head>
  <body>
    <h1>Hello world!</h1>
    <div id="app">
      <h1>Counter</h1>
      <p>{{ count }}</p>
      <button v-on:click="incrementCount">Increment</button>
      <p>{{ displayTitle }}</p>
      <p>{{ optimizedAmount }}</p>
      <div>
        <label for="incrementAmount">Increment by:</label>
        <!-- <input type="number" v-bind:value="incrementAmount" v-on:input="changeIncrementAmount"> -->
        <input type="number" v-model="incrementAmount" >
      </div>

      <hr />

      <p v-if="message.length % 2 === 0">Even: {{ message }}</p>
      <p v-else>Odd: {{ message }}</p>

      <ul v-for="item in listOfObjects">
        <li>
          {{ item.name }} is {{ item.age }} years old.
          <ul>
            <li v-for="colors in item.favColors">{{ colors }}</li>
          </ul>
        </li>
      </ul>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      const { createApp } = Vue;

      const app = createApp({
        data() {
          return {
            count: 0,
            counterTitle: "Counter standard",
            incrementAmount: 10,
            message: "Hello, Vue 3",
            listOfNumbers: [1, 2, 3, 4, 5],
            listOfObjects: [
              { name: "John", age: 30, favColors: ["red", "blue"] },
              { name: "Jane", age: 25, favColors: ["green", "yellow"] },
              { name: "Jake", age: 35, favColors: ["purple", "orange"]},
              { name: "Jill", age: 40, favColors: ["black", "white"]}
            ],
          };
        },
        computed: {
          displayTitle() {
            if(this.count > 20){
              return "Counter is greater than 20";
            } else {
              return "Counter is less than or equal to 20";
            }
          },
          optimizedAmount() {
            return this.displayTitle.length * this.incrementAmount;
          },
        },
        methods: {
          // changeIncrementAmount(event){
          //   this.incrementCount += Number(event.target.value);
          // },
          incrementCount() {
            this.count += this.incrementAmount;
          },
        },
        watch: {
          count(newValue){
            console.log('watch: ', newValue);
          }
        }
      });

      app.mount("#app");
    </script>
  </body>
</html>
